@import '/src/styles/variables.scss';

.fw-700 {
    font-weight: 700;
}

.top-container {
    height: 10vh;
}

.add-button {
    width: 200px;
    height: 50px;
    font-size: 20px;

    &:hover {
        color: white;
    }
}

.pi {
    line-height: 1.5 !important;
    font-weight: 700 !important;
}

.max-width-400 {
    max-width: 400px;
}

a {
    text-decoration: none;
}

.dialog-footer {
    background-color: white;
    border-top: 1px solid $secondary-color;
}

.dialog-button {
    width: 100px;
    height: 40px;
    font-size: 15px;

    &:hover {
        color: white;
    }
}
