<div class="top-container w-100 p-3 d-flex justify-content-between">
    <h2>Job details</h2>
    <button type="submit" class="btn btn-outline-warning rounded-2 add-button" (click)="isVisible = true">Add
        Job</button>
</div>
<div class="ms-3 me-3">
    <hr>
</div>
<div class="table-container p-3">
    <p-table (onRowSelect)="onRowSelect($event.data.id)" #jobsTable [scrollable]="true" [resizableColumns]="true"
        [paginator]="true" [value]="jobs" [rows]="rows" selectionMode="single">
        <ng-template pTemplate="header">
            <tr class="table-header-shadow">
                <th pSortableColumn="title">
                    <div class="d-flex justify-content-between align-items-center">
                        Name
                        <p-sortIcon field="title"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="position">
                    <div class="d-flex justify-content-between align-items-center">
                        Position
                        <p-sortIcon field="position"></p-sortIcon>
                    </div>
                </th>
                <th>
                    Description
                </th>
                <th>
                    Job Started Date
                </th>
                <th>
                    Job Status
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" ngFor let-job [ngForOf]="jobs" let-i="index" [ngForTrackBy]="trackByJobId">
            <tr [pSelectableRow]="job">
                <td>{{job.title}}</td>
                <td>{{job.position}}</td>
                <td [pTooltip]="job.description" class="max-width-400 text-truncate" [tooltipPosition]="'top'">
                    {{job.description}}</td>
                <td>{{job.startedDate}}</td>
                <td>
                    <a (click)="updateStatus(job.id, job.isOpen)" class="d-flex gap-3 fw-700"
                        [ngClass]="job.isOpen ? 'text-success' : 'text-danger'">
                        <span pTooltip="Click to change status" [tooltipPosition]="'top'">{{job.isOpen ? 'Open' :
                            'Closed'}}</span>
                        <i class="pi" [ngClass]="job.isOpen ? 'pi-check-circle' : 'pi-times'"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="12">
                    <app-no-data-found></app-no-data-found>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [draggable]="false" header="Add new job" [(visible)]="isVisible">
    <form [formGroup]="jobForm" class="mb-5" (ngSubmit)="onSubmit()">
        <div class="form-input-control ps-0">
            <label class="required" for="admin-job-job">
                Job
            </label>
            <input formControlName="title" placeholder="Type down job title here" type="text" class="w-100"
                id="admin-job-title">
            <app-error-message [control]="jobForm.get('title')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.lengthTwoHundred
            }"></app-error-message>
        </div>
        <div class="form-input-control ps-0">
            <label class="required" for="admin-job-description">
                Description
            </label>
            <textarea formControlName="description" placeholder="Type down job description here" type="text" class="w-100"
                id="admin-job-description"></textarea>
            <app-error-message [control]="jobForm.get('description')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.maxLengthFiveHundred
            }"></app-error-message>
        </div>
        <div class="form-input-control ps-0">
            <label class="required" for="admin-job-posiiton">
                Position
            </label>
            <input formControlName="position" placeholder="Type down job position here" type="text" class="w-100"
            id="admin-job-position">
            <app-error-message [control]="jobForm.get('position')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.lengthTwoHundred
            }"></app-error-message>
        </div>
        <div class="fixed-bottom dialog-footer w-100 d-flex justify-content-end p-3">
            <button icon="pi pi-check" (click)="isVisible = false"
                class="btn btn-outline-dark rounded-2 dialog-button me-3">Cancel</button>
            <button [disabled]="jobForm.invalid" icon="pi pi-check" type="submit"
                class="btn btn-dark rounded-2 dialog-button">Save</button>
        </div>
    </form>
</p-dialog>