.fw-700 {
    font-weight: 700;
}

.top-container {
    height: 10vh;
}

.pi {
    line-height: 1.5 !important;
    font-weight: 700 !important;
}

.max-width-400 {
    max-width: 400px;
}

a {
    text-decoration: none;
}
