<div class="top-container w-100 p-3 d-flex justify-content-start">
    <h2>Job details</h2>
</div>
<div class="ms-3 me-3">
    <hr>
</div>
<div class="table-container p-3">
    <p-table (onRowSelect)="onRowSelect($event.data.id)" #jobsTable [scrollable]="true" [resizableColumns]="true"
        [paginator]="true" [value]="jobs" [rows]="rows" selectionMode="single">
        <ng-template pTemplate="header">
            <tr class="table-header-shadow">
                <th pSortableColumn="title">
                    <div class="d-flex justify-content-between align-items-center">
                        Name
                        <p-sortIcon field="title"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="position">
                    <div class="d-flex justify-content-between align-items-center">
                        Position
                        <p-sortIcon field="position"></p-sortIcon>
                    </div>
                </th>
                <th>
                    Description
                </th>
                <th>
                    Job Started Date
                </th>
                <th>
                    Job Status
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" ngFor let-job [ngForOf]="jobs" let-i="index" [ngForTrackBy]="trackByJobId">
            <tr [pSelectableRow]="job">
                <td>{{job.title}}</td>
                <td>{{job.position}}</td>
                <td [pTooltip]="job.description" class="max-width-400 text-truncate" [tooltipPosition]="'top'">
                    {{job.description}}</td>
                <td>{{job.startedDate}}</td>
                <td>
                    <a (click)="updateStatus(job.id, job.isOpen)" class="d-flex gap-3 fw-700"
                        [ngClass]="job.isOpen ? 'text-success' : 'text-danger'">
                        <span pTooltip="Click to change status" [tooltipPosition]="'top'">{{job.isOpen ? 'Open' :
                            'Closed'}}</span>
                        <i class="pi" [ngClass]="job.isOpen ? 'pi-check-circle' : 'pi-times'"></i>
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="12">
                    <app-no-data-found></app-no-data-found>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
