@import '/src/styles/variables.scss';

.position {
    width: 250px;
}

.top-container {
    height: 10vh;
}

.fw-700 {
    font-weight: 700;
}

.pi {
    line-height: 1.5 !important;
    font-weight: 700 !important;
}

.opening-date {
    width: 50px;
}

a:hover {
    color: $secondary-color;
}

.candidate-img {
    width: 40px;
}

.candidate-name-container {
    max-width: 300px;
}