@import './input/input.scss';
@import './fileUpload.scss';
@import './dialog/dialog.scss';
@import './grid.scss';
@import './animation.scss';

/** Line numbers styles */
pre {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
  position: relative;
  max-height: 300px;
  overflow-y: auto;

  code {
    flex: 1;
    line-height: 1.5em;
    font-size: 14px;
    min-height: 100%;
    padding: 1em 1.2em;
    position: relative;

    &::before {
      content: '';
      counter-increment: line;
      position: absolute;
      left: 0;
      width: 2em; /* Adjust the width for line numbers */
      text-align: right;
      padding-right: 1em; /* Adjust the spacing between the number and the code */
      user-select: none;
      color: #999; /* Adjust line number color */
      border-right: 1px solid #ddd; /* Adjust line number border */
    }

    .hljs-line-numbers {
      padding-left: 2em; /* Adjust to align code after line number */
    }
  }

  &::before {
    counter-reset: line;
  }
}

.required {
  &::after {
    content: " *";
    color: $red;
  }
}

/* Your existing line numbers styles */
.hljs {
  margin: 0 1em;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  transition: border ease 1s;
}

.hljs-ln {
  padding: 8px 0;

  tr {
    &:first-child td {
      padding-top: 8px !important;
    }

    &:last-child td {
      padding-bottom: 8px !important;
    }
  }
}

td.hljs-ln-numbers {
  user-select: none;
  text-align: center;
  border-right: 1px solid gray;
  vertical-align: top;
  padding-right: 8px !important;
  padding-left: 8px !important;
}

td.hljs-ln-code {
  padding-left: 8px !important;
}
