<div class="m-0 w-100 h-100 d-flex">
    <div class="h-100 w-50">
        <img src="/assets/images/men.jpg" class="image-container">
    </div>
    <div class="right-container w-50 h-100 m-0">
        <form [formGroup]="forgotPasswordForm"
            class="d-flex flex-column justify-content-center align-items-center h-100" (submit)="onSubmit()">
            <div class="sub-container flex-column d-flex align-items-center">
                <img src="/assets/images/talent-portal-logo.png" class="logo">
                <h1 class="text-center mt-5 mb-5 fw-bold">Forgot your password?</h1>
            </div>
            <div class="subtitle mb-3 text-secondary w-100">
               <div>
                    Enter the email address associated with your account and we’ll send you a link to reset your password.
               </div> 
            </div>
            <div class="form-group">
                <input class="input form-control" type="email" name="email" id="forgot-password-email" placeholder="Email" formControlName="email">
                <label class="required label">Email</label>
                <app-error-message [control]="forgotPasswordForm.get('email')" [validationMessages]="{
                    minLength: message.minLength,
                    maxLength: message.emailMaxLength,
                    email: message.invalidEmail,
                    pattern: message.invalidEmail,
                    required: message.requiredField
                }"></app-error-message>
            </div>
            <button [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-outline-dark rounded-5 forgot-password-button">Submit</button>
            <a [routerLink]="['']" id="forgot-password-link" class="login-link mt-3">
                Go back go to login page.
            </a>
        </form>
    </div>
</div>
<app-pre-loader></app-pre-loader>
