.image-container {
    width: 100%;
    height: 100%;
}

.right-container {
    background-color: hsla(208, 52%, 94%, 0.594);
    width: 52vw;
}

.login-link {
    font-size: 18px;
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: orange;
    }
}

.forgot-password-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.subtitle {
    padding-left: 165px;

    div {
        width: 420px;
    }
}

.sub-container {
    .logo {
        width: 400px;
        height: 125px;
    }

    h1 {
        margin-left: 5px !important;
    }
}

.form-group {
    position: relative;
    margin-bottom: 20px;

    .input {
        width: 420px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid grey;
        border-radius: 8px;

        &::placeholder {
            visibility: hidden;
        }

        &:focus {
            outline: none;
            border-color: darkblue;

            &::placeholder {
                visibility: visible;
            }
        }
    }

    .label {
        padding: 0 3px;
        pointer-events: none;
        position: absolute;
        left: 1rem;
        top: .75rem;
        color: grey;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        background: white;
    }

    input:focus+label,
    input:not(:placeholder-shown)+label {
        opacity: 1;
        transform: scale(0.75) translateY(-2.3rem) translateX(-1rem);
    }
}
