<nav class="navbar navbar-expand-sm navbar-dark secondary">
    <div class="d-flex justify-content-between w-100 me-2">
        <a class="navbar-brand ms-4" [routerLink]="['/user']">
            <img src="assets/images/talent-portal-logo-white.png" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="btn nav-link" [routerLink]="['/user']" routerLinkActive="active-link">
                        <fa-icon [icon]="faHome"></fa-icon> Home
                    </a>
                </li>
                <li class="nav-item">
                    <button class="btn nav-link" id="nav-bar-logout-button" (click)="isConfirmShow = true">
                        <fa-icon [icon]="faLogout"></fa-icon> Logout</button>
                </li>
                <button class="btn nav-link profile-pic d-flex justify-content-center align-items-center me-2 ms-3"
                    (click)="onProfileClick()" routerLinkActive="active-link"><i class="pi pi-user"></i></button>
            </ul>
        </div>
    </div>
</nav>
<p-dialog [(visible)]="isConfirmShow" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="d-flex gap-3 cheating-dialog">
        <i class="pi pi-sign-out fw-25 text-warning"></i>
        <h3>Logout</h3>
    </div>
    <p class="mt-5">
        Are you sure you want to logout?
    </p>
    <div class="w-100 d-flex justify-content-end p-3">
        <button icon="pi pi-check" (click)="isConfirmShow = false"
            class="btn btn-outline-dark rounded-2 dialog-button me-3">Cancel</button>
        <button (click)="logout()" icon="pi pi-check" type="button"
            class="btn btn-dark rounded-2 dialog-button">Logout</button>
    </div>
</p-dialog>
