.answer {
    font-weight: 700;
}

.top-container {
    height: 10vh;
}

.fw-25 {
    font-size: 30px;
}

.question {
    font-weight: 700;
}

.left-container {
    width: 95vw;
}

.right-container {
    border-left: 1px solid rgb(253, 208, 125);
    width: 5vw;
    color: rgb(253, 208, 125);

    &:hover {
        background-color: rgb(253, 208, 125);
        color: white;
    }
}

.add-button {
    width: 200px;
    height: 50px;
    font-size: 20px;

    &:hover {
        color: white;
    }
}

.dialog-footer {
    background-color: white;
    border-top: #7F7F7F solid 1px;
}

.dialog-button {
    width: 100px;
    height: 40px;
    font-size: 15px;

    &:hover {
        color: white;
    }
}