<div class="top-container w-100 p-3 d-flex justify-content-between">
    <h2>Questions</h2>
    <button type="submit" class="btn btn-outline-warning rounded-2 add-button" (click)="isVisible = true">Add
        Question</button>
</div>
<div class="ms-3 me-3">
    <hr>
</div>
<div class="main-container">
    <div *ngIf="mcqs.length <= 0" class="mt-5  pt-5 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/gif/no-data-found.gif">
        <h4 class="text-secondary pt-0">No Data Found</h4>
    </div>
    <div class="card shadow m-3 border-warning d-flex flex-row" *ngFor="let mcq of mcqs">
        <div class="left-container p-4">
            <div class="main-div">
                <div class="question mb-2">
                    <fa-icon [icon]="faQuestionCircle" class="me-2 ms-2"></fa-icon>
                    <span>{{mcq.question}}</span>
                </div>
                <div *ngIf="mcq.isCodeProvided && !mcq.isDescriptiveQuestion" class="mt-3 mb-3">
                    <h4 class="ms-3">Code</h4>
                    <pre class="code"><code [highlight]="mcq.code" [lineNumbers]="true"></code></pre>
                </div>
                <div class="options" *ngIf="!mcq.isDescriptiveQuestion">
                    <ol>
                        <li>{{mcq.optionOne}}</li>
                        <li>{{mcq.optionTwo}}</li>
                        <li>{{mcq.optionThree}}</li>
                        <li>{{mcq.optionFour}}</li>
                    </ol>
                </div>
                <span class="text-success answer">Answer is: <span class="text-dark font-weight-light">{{mcq.answer}}</span></span>
            </div>
        </div>
        <a (click)="ConfirmShow(mcq.id)" class="right-container d-flex justify-content-center align-items-center">
            <fa-icon [icon]="faDelete"></fa-icon>
        </a>
    </div>
</div>
<p-dialog [draggable]="false" header="Add new question" [(visible)]="isVisible">
    <form [formGroup]="questionForm" class="mb-5" (ngSubmit)="onSubmit()">
        <div class="form-input-control ps-0">
            <label class="required" for="admin-homepage-question">
                Question
            </label>
            <input formControlName="question" placeholder="Type down question here" type="text" class="w-100"
                id="admin-homepage-question">
            <app-error-message [control]="questionForm.get('question')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.maxLengthFiveHundred
            }"></app-error-message>
        </div>
        <div class="d-flex gap-3">
            <label>
                Is Descriptive Question
            </label>
            <div class="d-flex gap-2">
                <input type="radio" name="isDescriptiveQuestion" [value]="true" formControlName="isDescriptiveQuestion">
                <label>Yes</label>
            </div>
            <div class="d-flex gap-2">
                <input type="radio" name="isDescriptiveQuestion" [value]="false"
                    formControlName="isDescriptiveQuestion">
                <label>No</label>
            </div>
        </div>
        <div *ngIf="!questionForm.getRawValue().isDescriptiveQuestion">
            <div class="form-input-control ps-0">
                <label class="required" for="admin-homepage-optionOne">
                    Option One
                </label>
                <input formControlName="optionOne" placeholder="Type down option here" type="text" class="w-100"
                    id="admin-homepage-optionOne">
                <app-error-message [control]="questionForm.get('optionOne')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.maxLengthFiveHundred
            }"></app-error-message>
            </div>
            <div class="form-input-control ps-0">
                <label class="required" for="admin-homepage-optionTwo">
                    Option Two
                </label>
                <input formControlName="optionTwo" placeholder="Type down option here" type="text" class="w-100"
                    id="admin-homepage-optionTwo">
                <app-error-message [control]="questionForm.get('optionTwo')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.maxLengthFiveHundred
            }"></app-error-message>
            </div>
            <div class="form-input-control ps-0">
                <label class="required" for="admin-homepage-optionThree">
                    Option Three
                </label>
                <input formControlName="optionThree" placeholder="Type down option here" type="text" class="w-100"
                    id="admin-homepage-optionThree">
                <app-error-message [control]="questionForm.get('optionThree')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.maxLengthFiveHundred
            }"></app-error-message>
            </div>
            <div class="form-input-control ps-0">
                <label class="required" for="admin-homepage-optionFour">
                    Option Four
                </label>
                <input formControlName="optionFour" placeholder="Type down option here" type="text" class="w-100"
                    id="admin-homepage-optionFour">
                <app-error-message [control]="questionForm.get('optionFour')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.maxLengthFiveHundred
            }"></app-error-message>
            </div>
        </div>

        <div class="d-flex gap-3" *ngIf="!questionForm.getRawValue().isDescriptiveQuestion">
            <label>
                Is Code Provided
            </label>
            <div class="d-flex gap-2">
                <input type="radio" name="isCodeProvided" [value]="true" formControlName="isCodeProvided">
                <label>Yes</label>
            </div>
            <div class="d-flex gap-2">
                <input type="radio" name="isCodeProvided" [value]="false" formControlName="isCodeProvided">
                <label>No</label>
            </div>
        </div>
        <div class="form-input-control ps-0" *ngIf="questionForm.getRawValue().isCodeProvided  && !questionForm.getRawValue().isDescriptiveQuestion">
            <label class="required" for="admin-homepage-code">
                Code
            </label>
            <textarea formControlName="code" placeholder="Type down answer here" type="text" class="w-100"
                id="admin-homepage-code"></textarea>
            <app-error-message [control]="questionForm.get('code')" [validationMessages]="{
                    maxlength: message.codeLength
            }"></app-error-message>
        </div>
        <div class="gap-3 mt-2 mb-2" *ngIf="questionForm.getRawValue().isDescriptiveQuestion">
            <label>
                Answer
            </label>
            <textarea rows="10" cols="88" name="answer" formControlName="answer" placeholder="Type down your answer..."
                pInputTextarea [value]="" [autoResize]="true" maxlength="1000"
                [class]="questionForm.invalid ? 'ng-invalid ng-dirty' : ''"></textarea>
            <app-error-message [control]="questionForm.get('answer')" [validationMessages]="{
                    required: message.requiredField
            }"></app-error-message>
        </div>
        <div class="d-flex gap-3 mt-2 mb-2" *ngIf="!questionForm.getRawValue().isDescriptiveQuestion">
            <label>
                Answer
            </label>
            <div class="d-flex gap-2">
                <input type="radio" name="answer" [value]="questionForm.get('optionOne')?.getRawValue()"
                    formControlName="answer">
                <label>Option 1</label>
            </div>
            <div class="d-flex gap-2">
                <input type="radio" name="answer" [value]="questionForm.get('optionTwo')?.getRawValue()"
                    formControlName="answer">
                <label>Option 2</label>
            </div>
            <div class="d-flex gap-2">
                <input type="radio" name="answer" [value]="questionForm.get('optionThree')?.getRawValue()"
                    formControlName="answer">
                <label>Option 3</label>
            </div>
            <div class="d-flex gap-2">
                <input type="radio" name="answer" [value]="questionForm.get('optionFour')?.getRawValue()"
                    formControlName="answer">
                <label>Option 4</label>
            </div>
            <app-error-message [control]="questionForm.get('answer')" [validationMessages]="{
                    required: message.requiredField
            }"></app-error-message>
        </div>
        <div class="form-input-control ps-0">
            <label class="required" for="admin-homepage-skill">
                Skill
            </label>
            <input formControlName="skill" placeholder="Type down skill here" type="text" class="w-100"
                id="admin-homepage-skill">
            <app-error-message [control]="questionForm.get('skill')" [validationMessages]="{
                    required: message.requiredField,
                    maxlength: message.skillLength
            }"></app-error-message>
        </div>
        <div class="fixed-bottom dialog-footer w-100 d-flex justify-content-end p-3">
            <button icon="pi pi-check" (click)="isVisible = false"
                class="btn btn-outline-dark rounded-2 dialog-button me-3">Cancel</button>
            <button [disabled]="questionForm.invalid" icon="pi pi-check" type="submit"
                class="btn btn-dark rounded-2 dialog-button">Save</button>
        </div>
    </form>
</p-dialog>
<p-dialog [(visible)]="isConfirmShow" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="d-flex gap-3 cheating-dialog">
        <i class="pi pi-exclamation-triangle fw-25 text-warning"></i>
        <h3>{{confirmHeader}}</h3>
    </div>
    <p class="mt-5">
        {{confirmMessage}}
    </p>
    <div class="w-100 dialog-footer flex justify-content-end p-3">
        <button icon="pi pi-check" (click)="isConfirmShow = false"
            class="btn btn-outline-dark rounded-2 dialog-button me-3">Cancel</button>
        <button (click)="onDelete()" icon="pi pi-check" type="button"
            class="btn btn-dark rounded-2 dialog-button">Delete</button>
    </div>
</p-dialog>