<div class="row main-container pt-3">
    <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
            <h2 class="mb-5 pb-5">Mature and stable online exam system for you</h2>
            <div class="left-container rounded shadow p-4">
                <h3 class="mb-2">Instructions</h3>
                <ul>
                    <li>
                        Welcome to Online Exam for General Aptitude Exam
                    </li>
                    <li>
                        Exam has Total 15 Questions
                    </li>
                    <li>
                        Total Time for Exam is 30 Minutes
                    </li>
                    <li>
                        Negative Marking Exam: No
                    </li>
                </ul>
                <div class="d-flex justify-content-center mt-4">
                    <a type="button" [routerLink]="['/user/exam', this.jobId]" class="btn btn-outline-dark rounded-2 start-button">Start</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="image-container w-100 d-flex justify-content-center">
            <img src="/assets/images/laptop-image-2.png" alt="exam-home-image" class="image">
        </div>
    </div>
</div>
