<div class="main-container d-flex h-100">
    <div class="w-50">
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
            <h2 class="mb-5 pb-5">Mature and stable online exam system for you</h2>
            <div class="left-container rounded shadow h-50 p-3">
                <h3 class="mb-2">Instructions</h3>
                <ul>
                    <li>
                        Welcome to Online Exam for General Aptitude Exam
                    </li>
                    <li>
                        Exam has Total 15 Questions
                    </li>
                    <li>
                        Total Time for Exam is 30 Minutes
                    </li>
                    <li>
                        Negative Marking Exam: No
                    </li>
                </ul>
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" [routerLink]="['/user/exam', jobId]" class="btn btn-outline-dark rounded-2 start-button">Start</button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-50">
        <img src="/assets/images/exam-home-image.png" alt="exam-home-image" class="w-100 object-fit-fill">
    </div>
</div>