<div class="main-container">
    <div class="card back-shadow m-3 border-warning d-flex flex-row" *ngFor="let job of jobs">
        <div class="left-container p-4">
            <div class="main-div">
                <div class="title mb-2">
                    <fa-icon [icon]="faSuitcase" class="me-2 ms-2 text-warning"></fa-icon>
                    <span>{{job.title}}</span>
                </div>
                <hr>
                <div class="mt-4">
                    <fa-icon [icon]="faKeyboard" class="me-2 ms-2 text-warning"></fa-icon>
                    <span class="fw-700">Position:</span>
                    <span class="ps-2">{{job.position}}</span>
                    <div class="mt-2">
                        <fa-icon [icon]="faCalendar" class="me-2 ms-2 text-warning"></fa-icon>
                        <span class="fw-700 ps-1">Opened date:</span>
                        <span class="ps-2">{{job.startedDate}}</span>
                    </div>
                </div>
                <div class="mt-5 ps-34">
                    <span class="fw-700">Description: </span>
                    <p>{{job.description}}</p>
                </div>
            </div>
        </div>
        <button (click)="onClick(job.id)" class="right-container d-flex justify-content-center align-items-center">
            <fa-icon [icon]="faArrowRight" class=""></fa-icon>
        </button>
    </div>
</div>