<div class="m-0 w-100 h-100 d-flex">
    <div class="h-100 w-50">
        <img src="/assets/images/men.jpg" class="image-container">
    </div>
    <div class="right-container w-50 h-100 m-0">
        <form [formGroup]="changePasswordForm"
            class="d-flex flex-column justify-content-center align-items-center h-100" (submit)="onSubmit()">
            <div class="sub-container flex-column d-flex align-items-center">
                <img src="/assets/images/talent-portal-logo.png" class="logo">
                <h1 class="text-center mt-5 mb-5 fw-bold">Reset your password!</h1>
            </div>
            <div class="form-group">
                <input class="input form-control" placeholder="New password" pPassword
                    [type]="isNewEyeIconVisible ? 'text' : 'password'" id="new-password-input" formControlName="newPassword">
                <label class="label required d-inline" for="new-password-input">New Password</label>
                <a class="pi eye-icon" id="new-password-eye-icon"
                    [ngClass]="{'pi-eye': isNewEyeIconVisible, 'pi-eye-slash': !isNewEyeIconVisible}"
                    (click)="toggleNewPasswordVisibility()"></a>
                <app-error-message [control]="changePasswordForm.get('newPassword')" [validationMessages]="{
                    required: message.requiredField,
                    minlength: message.passwordMinLength,
                    maxlength: message.passwordMaxLength,
                    pattern: message.invalidPassword,
                    invalidPassword: message.allowedCharacters
                }"></app-error-message>
            </div>
            <div class="form-group mt-3">
                <input class="input form-control" placeholder="Confirm password" pPassword
                    [type]="isConfirmEyeIconVisible ? 'text' : 'password'" id="confirm-password-input" formControlName="confirmPassword">
                <label class="label required d-inline" for="confirm-password-input">Confirm Password</label>
                <a class="pi eye-icon" id="confirm-password-eye-icon"
                    [ngClass]="{'pi-eye': isConfirmEyeIconVisible, 'pi-eye-slash': !isConfirmEyeIconVisible}"
                    (click)="toggleConfirmPasswordVisibility()"></a>
                <app-error-message [control]="changePasswordForm.get('confirmPassword')" [validationMessages]="{
                    required: message.requiredField,
                    passwordMismatch: message.passwordMisMatch
                }"></app-error-message>
            </div>
            <button [disabled]="changePasswordForm.invalid" type="submit"
                class="btn btn-outline-dark rounded-5 change-password-button">Submit</button>
            <a [routerLink]="['']" id="change-password-link" class="login-link mt-3">
                Go back go to login page.
            </a>
        </form>
    </div>
</div>
<app-pre-loader></app-pre-loader>
