<form class="ps-5 pe-5 pt-3" [formGroup]="questionForm">
    <div class="row border-bottom border-warning mb-4">
        <div class="d-flex align-items-center gap-4 col-8">
            <label *ngIf="!isDescriptiveAlertVisible" class="text-warning">Question {{index + 1}}:</label>
            <h1 [ngClass]="{'text-danger': isDescriptiveAlertVisible}">{{!isDescriptiveAlertVisible ? currentQuestion.question : 'Alert!'}}</h1>
        </div>
        <div class="video-container d-flex gap-3 align-items-center justify-content-end col-4 mb-2">
            <div class="timer">
                <b>Time Remaining: </b>
                <span [style.color]="remainingTime < 180 ? 'red' 
               : (remainingTime < 300 ? 'orange' : 'inherit')">
                    {{ formatTime(remainingTime) }}
                </span>
            </div>
            <video #video autoplay playsinline class="video rounded"></video>
            <canvas #canvas hidden></canvas>
        </div>
    </div>
    <div *ngIf="currentQuestion.isCodeProvided && !isDescriptiveAlertVisible" class="mt-3 mb-3 code">
        <label class="text-warning mb-4 options-label">Code:</label>
        <pre class="code"><code [highlight]="currentQuestion.code" [lineNumbers]="true"></code></pre>
    </div>
    <div class="middle-container" *ngIf="!isDescriptiveQuestion && !isDescriptiveAlertVisible">
        <label class="text-warning mb-4 options-label">Options:</label>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionOne" formControlName="answer"
                [checked]="questionForm.get('answer')?.value === currentQuestion.optionOne">
            <label>{{currentQuestion.optionOne}}</label>
        </div>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionTwo" formControlName="answer"
                [checked]="questionForm.get('answer')?.value === currentQuestion.optionTwo">
            <label>{{currentQuestion.optionTwo}}</label>
        </div>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionThree" formControlName="answer"
                [checked]="questionForm.get('answer')?.value === currentQuestion.optionThree">
            <label>{{currentQuestion.optionThree}}</label>
        </div>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionFour" formControlName="answer"
                [checked]="questionForm.get('answer')?.value === currentQuestion.optionFour">
            <label>{{currentQuestion.optionFour}}</label>
        </div>
    </div>
    <div class="middle-container d-flex flex-column justify-content-center position-relative mb-5" *ngIf="isDescriptiveQuestion && !isDescriptiveAlertVisible">
        <textarea rows="15" cols="180" name="answer" maxlength="3000" formControlName="answer" placeholder="Type down your answer..."
            pInputTextarea [value]="" [autoResize]="true"
            [class]="questionForm.invalid ? 'ng-invalid ng-dirty' : ''"></textarea>
        
        <div class="voice-button-container">
            <button class="voice-button" (click)="toggleRecording()" [ngClass]="{ 'recording background-red': isRecording, 'background-orange': !isRecording }">
                <i class="material-icons">{{ isRecording ? 'stop' : 'mic_none' }}</i>
            </button>
        </div>
        <app-error-message [control]="questionForm.get('answer')" [validationMessages]="{
            required: message.requiredField,
            maxlength: message.maxLengthFiveHundred
        }"></app-error-message>
    </div>
    <div *ngIf="!isDescriptiveAlertVisible" class="d-flex justify-content-end">
        <div [tooltipPosition]="'top'" [pTooltip]="index <= 0 ? 'No previous question' : ''" class="me-5">
            <button [disabled]="index <= 0" [type]="'button'" class="btn btn-outline-dark rounded-2 next-button"
                (click)="onBackClick()">
                <i class="pi pi-chevron-left">Back</i>
            </button>
        </div>
        <button [disabled]="questionForm.invalid"
            [type]="index >= noOfQ - 1 && isDescriptiveQuestion ? 'submit' : 'button'"
            class="btn btn-dark rounded-2 next-button" (click)="submit()">{{index >= noOfQ - 1 && isDescriptiveQuestion
            ? 'Submit' : 'Next'}}
            <i class="pi pi-chevron-right"></i>
        </button>
    </div>
    <ul *ngIf="isDescriptiveAlertVisible" class="alert-container">
        <li>When You click submit you will be navigated to next round.</li>
        <li>You will not be able to edit to mcq question again after submitting.</li>
    </ul>
    <div *ngIf="isDescriptiveAlertVisible" class="d-flex gap-3 justify-content-end">
        <button [disabled]="index <= 0" [type]="'button'" class="btn btn-outline-dark rounded-2 next-button"
            (click)="isDescriptiveAlertVisible = !isDescriptiveAlertVisible">
            <i class="pi pi-chevron-left">Back</i>
        </button>
        <button type="button" class="btn btn-dark rounded-2 next-button" (click)="startDescriptive()">Start
            <i class="pi pi-chevron-right"></i>
        </button>
    </div>
</form>

<p-dialog [(visible)]="isCheating" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="d-flex gap-3 cheating-dialog">
        <i class="pi pi-exclamation-triangle p-mr-2 text-warning"></i>
        <h3>Cheating Detected</h3>
    </div>
    <p class="mt-5">
        You have been terminated from the examination.
    </p>
</p-dialog>

<p-dialog [(visible)]="isInstructionDialogVisible" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="d-flex gap-3 cheating-dialog">
        <i class="pi pi-exclamation-triangle p-mr-2 text-warning"></i>
        <h3>Instructions</h3>
    </div>
    <ol class="mt-5">
        <li>There is no negative marks included</li>
        <li>You should complete the exam within the time limit, else you will be eliminate.</li>
        <li>There should not be more than one person in the room. If more than one person found you will be terminated from exam</li>
        <li>Don't cover your face with anything, else you will be terminated from exam</li>
        <li>Don't use mobile phone, tablet, or laptop. If found any such thing you will be terminated from exam</li>
    </ol>
</p-dialog>
<app-pre-loader></app-pre-loader>
