<form class="p-5" [formGroup]="questionForm">
    <div class="d-flex gap-4 align-items-center border-bottom border-warning mb-4">
        <label class="text-warning">Question {{index + 1}}:</label>
        <h1>{{currentQuestion.question}}</h1>
    </div>
    <div *ngIf="currentQuestion.isCodeProvided" class="mt-3 mb-3 code">
        <label class="text-warning mb-4 options-label">Code:</label>
        <pre class="code"><code [highlight]="currentQuestion.code" [lineNumbers]="true"></code></pre>
    </div>
    <div class="middle-container">
        <label class="text-warning mb-4 options-label">Options:</label>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionOne" formControlName="answer">
            <label>{{currentQuestion.optionOne}}</label>
        </div>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionTwo" formControlName="answer">
            <label>{{currentQuestion.optionTwo}}</label>
        </div>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionThree" formControlName="answer">
            <label>{{currentQuestion.optionThree}}</label>
        </div>
        <div class="d-flex gap-4 mb-3">
            <input type="radio" name="answer" [value]="currentQuestion.optionFour" formControlName="answer">
            <label>{{currentQuestion.optionFour}}</label>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button [disabled]="questionForm.invalid" [type]="index >= noOfQ - 1 ? 'submit' : 'button'"
            class="btn btn-dark rounded-2 next-button" (click)="submit()">{{index >= noOfQ - 1 ? 'Submit' :
            'Next'}}</button>
    </div>
</form>

<p-dialog [(visible)]="isCheating" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="d-flex gap-3 cheating-dialog">
        <i class="pi pi-exclamation-triangle p-mr-2 text-warning"></i>
        <h3>Cheating Detected</h3>
    </div>
    <p class="mt-5">
        You have been terminated from the examination.
    </p>
</p-dialog>
<app-pre-loader></app-pre-loader>
