.middle-container {
    font-size: 25px;

    .options-label {
        font-size: 16px;
    }
}

.video {
    width: 150px !important;
    border: grey solid 1px;
    background-color: black;
}

button {
    .pi-chevron-left:before {
        font-size: 18px;
        padding-right: 10px;
    }

    .pi-chevron-right:before {
        font-size: 18px;
        padding-left: 10px;
    }
   
    i {
        font-size: 23px;
    }
}

input {
    transform: scale(1.5);
}

.next-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

i {
    font-size: 2rem;
}