.main-container {
    height: 50vh;
    
    img {
        height: 150px;
    }
}

.rotate-45 {
    transform: rotate(-45deg);
}

.fw-700 {
    font-weight: 700;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

hr {
    color: orange;
}
